body{
font-family: serif;
background-color: navy;
background-size: 85%;
}

html,
body {
  height: 100%;
}
img {
  width: 200px;
}
h1 {
    color: rgb(255,255,255);
    text-align: center;
    animation-duration: 2s;
    animation-name: bounceIn;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.0);
    }
  
h2 {
    color: rgb(255,255,255);
    text-align: left;
}
h3 {
    color: rgb(255,255,255);
    text-align: left;
}
h4 {
  color: rgb(255,255,255);
  text-align: left;
}
h5 {
  color: rgb(255,255,255);
  text-align: left;
}
