nav {    
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
body{
font-family:san serif;;
background-color: lightblue
}
img {
  width: 200px;   
}
h1 {
    text-align: center;
}
h2 {
    text-align: left;
}
