header, footer {
    padding: 1em;
    color: Black;
    background-color: none;
    clear: left;
    text-align: center;
}
nav {
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
}
body {
  font-family: 'Rock Salt', cursive;
  font-size: 14px
  background-color: lightblue
}
.container {
  max-width: 88rem;
  margin: auto;
}
img {
  max-width: 100%;
}
.item {
    circle, 100%
}
.gallery-item {
    width: 13rem;
    margin: 1rem;
    display: inline-block;
}
