body {
  font-size: 16px
  font-family:san serif;
  background-color: lightblue
}
.container {
  max-width: 800px;
  margin: auto;
}
img {
  max-width: 50%;
}
.box {
    background: #000;
    width: 300px;
    height: 300px;
    display: inline-block;
}
