body{
font-family:sans-serif;
background-size: 85%;
animation: pulse 7s;
background-color: lightblue;
}

html,
body {
  height: 100%;
}
img {
  width: 200px;
}
h1 {
    color: rgb(255,255,255);
    text-align: center;
    animation-duration: 2s;
    animation-name: bounceIn;
}
h2 {
    color: rgb(255,255,255);
    text-align: left;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  25% {
    background-color: #FF4136;
  }
  50% {
    background-color: #025F3F;
  }
  75% {
    background-color: #05045F;
  }
  100% {
    background-color: #001F3F;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.0);
    }
}

.element {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  margin: 0 auto;
  background-color: blue;
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.5);
    background-color: lightgreen;
    border-radius: 100%;
  }
  25% {
    background-color: darkgreen;
  }
  50% {
    transform: scale(1.5);
    background-color: yellow;
  }
  75% {
    background-color: orange;
  }
  100% {
    transform: scale(2);
    background-color: red;
  }
}
