body{
font-family:san serif;
background-size: 85%;
animation: pulse 7s infinite;

}
.element {
  width: 50%;
  height: 50%;
  animation: pulse 7s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  25% {
    background-color: #FF4136;
  }
  50% {
    background-color: #025F3F;
  }
  75% {
    background-color: #05045F;
  }
  100% {
    background-color: #001F3F;
  }
}

