nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
body{
font-family:san serif;;
background-color: lightblue
}
img {
  width: 200px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: left;
}
.element {
  height: 200px;
  width: 400px;
  background-color: blue;
  animation:
    pulse 2s ease infinite alternate,
    nudge 5s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse {
  0%, 100% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(-150px, 0);
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.element {
  hight: 500px;
  width: 500px;
  background-color: Navy;
}

